.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    font-size: large;
    gap: 600px;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar-center .nav-links a:hover {
    color: lightgray;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

