body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #222;
}

.app > *:not(footer, .navbar) {
  flex: 1 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
